*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*
        font-family: 'Barlow', sans-serif;
        font-family: 'Fraunces', serif;
    */
}
:root {
    /* Primary */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --graphic-design-text: hsl(167, 40%, 24%);
    --photography-text: hsl(198, 62%, 26%);
    --footer-text: hsl(168, 34%, 41%);
    --footer : hsl(167, 44%, 70%);

    /* Nautral */
    --dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --hover: hsl(200, 100%, 72%);
}
body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 18px;
    height: 100vh;
}
section {
    height: 100vh;
    scroll-snap-align: start;
}

/* Header - Hamburger Menu */
.homepage-bg {
    position: absolute;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
.hamburger-menu {
    display: none;
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hamburger-menu .menu-line {
    width: 100%;
    height: 2px;
    background-color: var(--white);
    margin: 5px 0;
}
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 50px;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.navbar ul li > a {
    display: block;
    text-decoration: none;
    padding: 0px 30px;
    font-family: 'Barlow', sans-serif;
    color: var(--white);
    font-weight: 600;
}
.navbar ul button {
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 20px 35px;
    cursor: pointer;
    font-family: 'Fraunces', serif;
    transition: .2s ease;
}
.navbar ul button:hover {
    color: var(--white);
    background-color: var(--hover);
}

/* Home Page */
.homepage-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homepage-content h2 {
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    letter-spacing: 5px;
    font-size: 50px;
    padding: 80px 0;
}

/* Transform Page */
.transformpage {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}
.row-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 180px;
    height: 700px;
}
.title {
    font-size: 38px;
    font-family: 'Fraunces', serif;
    color: var(--dark-desaturated-blue);
    font-weight: 900;
}
.paragraph {
    color: var(--dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
    line-height: 30px;
    font-weight: 600;
}
.transformpage .row-content .learn-more {
    position: relative;
    width: fit-content;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    font-family: 'Fraunces', serif;
    color: var(--dark-desaturated-blue);
    font-weight: 900;
    font-size: 16px;
    z-index: 99;
}
.transformpage .row-content .learn-more::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: -2px;
    z-index: -1;
    border-radius: 5px;
    background-color: var(--yellow);
    opacity: .5;
    transition: .5s;
}
.row-images  img{
    height: 100vh;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 49.5vw;
}

/* Stand Out Page */
.standout {
    display: flex;
    height: 100vh;
}
.standout .row-content .learn-more {
    position: relative;
    width: fit-content;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    font-family: 'Fraunces', serif;
    color: var(--dark-desaturated-blue);
    font-weight: 900;
    font-size: 16px;
    z-index: 99;
}
.standout .row-content .learn-more::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: -2px;
    z-index: -1;
    border-radius: 5px;
    background-color: var(--soft-red);
    opacity: .5;
    transition: .5s;
}

/* Graphic Photography Page */
.graphic-photography {
    display: flex;
    position: relative;
    height: 100vh;
}
.graphic-photography .row-images .graphic-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 49.5vw;
    height: 300px;
    bottom: 0px;
    padding: 80px 200px;
    font-family: 'Barlow', sans-serif;
    color: var(--graphic-design-text);
}
.graphic-photography .row-images .photography-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 49.5vw;
    height: 300px;
    bottom: 0px;
    padding: 80px 200px;
    font-family: 'Barlow', sans-serif;
    color: var(--photography-text);
}
.graphic-photography .row-images .contents h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
.graphic-photography .row-images .contents p {
    font-family: 'Barlow', sans-serif;
    line-height: 25px;
}

/* Client Testimonials */
.client-testimonials {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: 100px 0;
}
.client-testimonials h2 {
    color: var(--grayish-blue);
    text-transform: uppercase;
    padding: 70px 0;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    letter-spacing: 7px;
}
.client-testimonials .worker-container {
    display: flex;
    width: 100vw;
    padding: 0 200px;
}
.worker-container .workers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    text-align: center;
}
.worker-container .workers img {
    border-radius: 50%;
    width: 75px;
}
.worker-container .workers .workers-content {
    width: 22vw;
    line-height: 30px;
    padding: 50px 0;
    color: var(--very-dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
}
.worker-container .workers .workers-name {
    margin-bottom: 10px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--dark-desaturated-blue);
}
.worker-container .workers .workers-tech {
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    color: var(--grayish-blue);
}

/* Footer */
footer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--footer);
}
.footer-images {
    display: flex;
}
.footer-images img {
    width: 500px;
    height: 50vh;
    object-fit: cover;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    padding: 100px 0;
}
.footer-content .links ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.footer-content .links ul li {
    padding: 30px 25px;
}
.footer-content .links ul li a {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    color: var(--footer-text);
    transition: .4s;
}
.footer-content .links ul li a:hover {
    color: var(--white);
}
.footer-content .social-media {
    width: 150px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}
.footer-content .social-media :hover {
    fill: white !important;
}

@media screen and (max-width: 768px) {
    header {
        padding: 15px 25px;
    }
    
    /* Hamburger Menu */
    .hamburger-menu {
        display: block;
        cursor: pointer;
        align-items: center;
    }
    .hamburger-menu.active .three {
        transform: translateY(3.5px) rotate(45deg);
        transition: .5s ease;
        width: 20px;
    }
    .hamburger-menu.active .two {
        display: none;
    }
    .hamburger-menu.active .one {
        transform: translateY(-3.5px) rotate(-45deg);
        transition: .5s ease;
        width: 20px;
    }

    /* Navbar */
    .navbar {
        position: absolute;
        height: 0;
        top: 70px;
        right: 0;
        left: 0;
        margin: 0 25px;
        background-color: var(--white);
        transition: .4s;
        overflow: hidden;
    }
    .navbar.active {
        height: max-content;
        transition: .5s;
    }
    .navbar ul {
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: .5s;
        padding: 15px 0;
    }
    .navbar.active ul {
        opacity: 1;
    }
    .navbar ul li {
        padding: 15px 0;
    }
    .navbar ul li > a {
        color: var(--dark-grayish-blue);
    }
    .navbar ul button {
        background-color: var(--yellow);
        padding: 15px 30px;
    }
    .homepage-content h2 {
        text-align: center;
    }

    /* Transform Page */
    .transformpage {
        align-items: center;
        flex-direction: column;
    }
    .row-content {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 50px 0;
        height: 50vh;
        width: 65vw;
    }
    .title {
        font-size: 32px;
    }
    .paragraph {
        color: var(--dark-grayish-blue);
        font-family: 'Barlow', sans-serif;
        line-height: 25px;
        font-weight: 600;
    }
    .row-images  img{
        object-fit: cover;
        width: 100vw;
        height: 50vh;
    }

    /* Stand Out Page */
    .standout {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Graphic Photography Page */
    .graphic-photography {
        display: flex;
        flex-direction: column;
    }
    .graphic-photography .row-images .graphic-content {
        width: 100vw;
        height: 150px;
        top: 200px;
        padding: 10px 60px;
        font-family: 'Barlow', sans-serif;
        color: var(--graphic-design-text);
    }
    .graphic-photography .row-images .photography-content {
        width: 100vw;
        height: 150px;
        bottom: 0px;
        padding: 10px 60px;
        font-family: 'Barlow', sans-serif;
        color: var(--graphic-design-text);
    }

    /* Client Testimonials */
    .client-testimonials {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        height: max-content ;
        padding: 0;
    }
    .client-testimonials h2 {
        color: var(--grayish-blue);
        text-transform: uppercase;
        padding: 50px 0;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 20px;
        letter-spacing: 7px;
    }
    .client-testimonials .worker-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 0;
    }
    .worker-container .workers {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        text-align: center;
        padding: 30px 0;
    }
    .worker-container .workers img {
        border-radius: 50%;
        width: 75px;
    }
    .worker-container .workers .workers-content {
        width: 70vw;
        line-height: 30px;
        padding: 25px 0;
        color: var(--very-dark-grayish-blue);
        font-family: 'Barlow', sans-serif;
    }
    .worker-container .workers .workers-name {
        margin-bottom: 10px;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        color: var(--dark-desaturated-blue);
    }
    .worker-container .workers .workers-tech {
        font-size: 14px;
        font-family: 'Barlow', sans-serif;
        color: var(--grayish-blue);
    }

    /* Footer */
    footer {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color: var(--footer);
    }
    .footer-images {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-images img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 0;
        padding: 50px 0;
    }
    .footer-content .links ul {
        display: flex;
        list-style-type: none;
        align-items: center;
    }
    .footer-content .links ul li {
        padding: 30px 25px;
    }
    .footer-content .links ul li a {
        text-decoration: none;
        font-family: 'Barlow', sans-serif;
        color: var(--footer-text);
        transition: .4s;
    }
    .footer-content .links ul li a:hover {
        color: var(--white);
    }
    .footer-content .social-media {
        width: 150px;
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
